extends ./layout.pug
block pre-include
  - var menu = 'article'
  - var childMenu = 'experience'
  title Kinh nghiệm sử dụng mới

block post-include
  script(src=staticURI() + '/js/admin/experience.js')

block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7.hidden-xs
      li
        a Bài viết
      li
        a Kinh nghiệm sử dụng
      li
        a Kinh nghiệm mới

    ol.button-right.col-md-4.col-sm-5.col-xs-12
      li
        a.btn.btn-admin.btn-create-update
          i.fa.fa-floppy-o
          i.fa.fa-circle-o-notch.fa-spin
          | Lưu lại
  section.content.article
    .row
      .col-sm-9.col-xs-12
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-6.title THÔNG TIN
              ul.nav.nav-tabs.nav-tabs-lang.col-xs-6
                li.active
                  a(data-toggle='tab', href='#tab-vi') Tiếng Việt
                li
                  a(data-toggle='tab', href='#tab-en') Tiếng Anh
            .box-body
              .tab-content
                #tab-vi.tab-pane.fade.in.active
                  .form-group
                    .col-sm-2.control-label Tiêu đề
                      strong.required  *
                    .col-sm-10
                      input.form-control.title(name="title", placeholder="Tiêu đề")
                  .form-group
                    .col-sm-2.control-label Đường dẫn
                      strong.required  *
                    .col-sm-10
                      .input-group
                        span.input-group-addon#basic-addon3=currentHost() + '/experience/'
                        input.form-control.handle(aria-describedby="basic-addon3", name="handle", placeholder="duong-dan")
                  .form-group
                    .col-sm-2.control-label Mô tả
                    .col-sm-10
                      textarea.form-control(name="description")
                #tab-en.tab-pane.fade.in
                  .form-group
                    .col-sm-2.control-label Tiêu đề
                    .col-sm-10
                      input.form-control(name="title_en", placeholder="Tiêu đề")
                  .form-group
                    .col-sm-2.control-label Đường dẫn
                      strong.required  *
                    .col-sm-10
                      .input-group
                        span.input-group-addon#basic-addon4=currentHost() + '/experience/'
                        input.form-control.handle(aria-describedby="basic-addon4", name="handle_en", placeholder="url")
                  .form-group
                    .col-sm-2.control-label Mô tả
                    .col-sm-10
                      textarea.form-control(name="description_en")
        include snippet/box-seo.pug
      .col-sm-3.col-xs-12
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title NHÓM KINH NGHIỆM
            .box-body
              select.form-control(name="blog_id")
                option(value="-1") Chọn nhóm kinh nghiệm
                each item in blogs
                  option(value=item.id)=item.title
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title URL YOUTUBE
                strong.required  *
            .box-body
              input.form-control(name="link", placeholder="URL video youtube")
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title HÌNH ĐẠI DIỆN
            .box-body
              .item-choose-image(data-default=staticURI() + "/img/default.jpg")
                img(src=staticURI() + "/img/default.jpg")
                span.remove-image
                  i.fa.fa-times
                input.value(type="hidden" name="image")
        .box
          .form-horizontal
            .box-title.clearfix
              .col-xs-12.title TRẠNG THÁI
            .box-body
              select.form-control(name="status")
                option(value="active") Hiển thị
                option(value="inactive") Ẩn
