extends ./layout.pug

block pre-include
  title Danh sách đơn hàng
  - var menu = 'order';
  - var childMenu = menu_child;
block post-include
  script.
    initDataTable('table');
    var modelName = 'order';
block content
  section.content-header.clearfix
    ol.breadcrumb.col-md-8.col-sm-7.hidden-xs
      li
        a Đơn hàng
      li
        a Danh sách đơn hàng
  section.content
    .box.order-statistic
      h3.title-statistic Danh sách đơn hàng
      .row
        .col-xs-12.col-sm-4
          .small-box.bg-aqua
            .inner
              h3=money(statistic.totalSum)
              p Tổng giá trị đơn hàng
            .icon
              i.fa.fa-briefcase
        .col-xs-12.col-sm-4
          .small-box.bg-red
            .inner
              h3=statistic.orderCount
              p Tổng số đơn hàng
            .icon
              i.fa.fa-shopping-cart
        .col-xs-12.col-sm-4
          .small-box.bg-green
            .inner
              - var average = statistic.totalSum/statistic.orderCount;
              if (!statistic.orderCount || !statistic.totalSum)
                h3=0
              else
                h3=money(average)
              p Tổng giá trị trung bình / đơn hàng
            .icon
              i.fa.fa-group


    .box.box-table
      .row.box-header
        h3.box-title DANH SÁCH
      .box-body
        table.table.table-bordered.table-striped.display.nowrap(cellspacing="0" width="100%")
          .action-box.hidden
            .dropdown
              button.btn.btn-danger.dropdown-toggle(type="button" data-toggle="dropdown")
                i.fa.fa-share
                |  Chọn thao tác (đang chọn
                span.num-select
                |  đơn hàng)
                span.caret
              ul.dropdown-menu
                li
                  a.status-active(data-value='active') Ẩn
                li
                  a.status-inactive(data-value='inactive') Hiện
                li
                  a.status-delete(data-value='delete') Xóa
          thead
            tr
              th.text-center
                input.select-all(type="checkbox" style="margin-left: 15px")
              th Mã
              th Ngày đặt hàng
              th Khách hàng
              th Trạng thái đơn hàng
              th Tổng tiền
              th Trạng thái
          tbody
            each item in data
              tr
                td.text-center
                  input.checkboxes(type="checkbox" value=item.id)
                td
                  a(href="/admin/order/" + item.id target="_blank").link=item.id
                td=datetime(item.created_at)
                td=item.name
                td
                  case item.order_status
                    when 'new'
                      label.label.label-info Mới
                    when 'confirm'
                      label.label.label-primary Xác nhận
                    when 'done'
                      label.label.label-success Hoàn thành
                    when 'cancel'
                      label.label.label-danger Hủy
                    when 'return'
                      label.label.label-danger Hoàn trả
                td.right=money(item.total)
                td
                  case item.status
                    when 'active'
                      label.label.label-info Đang hiện
                    when 'inactive'
                      label.label.label-warning Đang ẩn
